<strong>
  Olá, {{ deliveryMan }}
</strong>
<p>
  Uma encomenda atribuida a você foi cancelada :( <br />
  Verifique os dados abaixo:
</p>

<p>
  <strong> Descrição: </strong> {{ description }} <br />
  <strong> Destinatário: </strong> {{ recipient }} <br />
  <strong> Endereço: </strong> {{ address }} <br />
</p>