<strong>
  Olá, {{ deliveryMan }}
</strong>
<p>
  Uma nova encomenda foi atribuida a você.
</p>

<p>
  <strong> Descrição: </strong> {{ description }} <br />
  <strong> Destinatário: </strong> {{ recipient }} <br />
  <strong> Endereço: </strong> {{ address }} <br />
  <br />
  <small> A encomenda já está disponível para retirada. </small>
</p>